  body {
    background-color: black;
  }

  body,
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .containier {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  .moon {
    width: 500px;
    height: 500px;
    background: radial-gradient(rgb(196, 196, 60), rgb(240, 240, 9), rgb(247, 247, 9));
    box-shadow: 0 0 40px 20px rgba(247, 247, 9, 0.5);
    border-radius: 250px;
    animation: yueliang 20s linear infinite;
  }

  .change {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: benyue 20s linear infinite;
  }

  @keyframes yueliang {
    0% {
      transform: scale(0.5)
    }

    100% {
      transform: scale(1.2)
    }

  }

  @keyframes benyue {
    0% {
      bottom: 0;
      right: 0;
      transform: scale(1.2)
    }

    50% {
      bottom: 20%;
      right: 20%;
      transform: scale(0.8)
    }

    100% {
      bottom: 40%;
      right: 40%;
      transform: scale(0.4)
    }
  }
